google-cloud-bigquery
google-cloud-storage
Flask
tensorflow==2.16.1
Pillow==9.1.0
pandas
db-dtypes


  git config --global user.email "duarte.pinto7337@gmail.com"
  git config --global user.name "duartepinto555"