{% extends 'general-template.html'  %}
{% block content %}

<body>

<h1>{{ description }}</h1>
<div>
        <a href="?description={{ description }}&image_limit={{ image_limit }}&page={{ prev_page }}">Previous Page</a>
        
        <a href="?description={{ description }}&image_limit={{ image_limit }}&page={{ next_page }}">Next Page</a>
</div>

{% for result in results %}

        <h2>{{ result }}</h2>

                <a href="https://storage.googleapis.com/bdcc_open_images_dataset/images/{{ result }}.jpg">
                        <img width="600" src="https://storage.googleapis.com/bdcc_open_images_dataset/images/{{ result }}.jpg"/>
                </a>

        <br/>

{% endfor %}

</body>

{% endblock %}


